.Header {
    width: 100%;
}

.Header--common {
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.05);
}

.Header {
    background-color: #fff;
    display: grid;
    height: 70px;
    width: 100%;
}

*, *::before, *::after {
    word-break: break-all;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.HeaderContainer {
    display: flex;
    justify-content: space-between;
    margin: 0 36px 0 36px;
    max-width: 100%;
    position: relative;
}



@media screen and (min-width: 768px) {
    .HeaderLogo {
        transition: opacity 0.2s;
    }
}

.HeaderLogo {
    align-self: center;
}

a {
    color: #333;
    text-decoration: none;
}

img.lazy {
    min-height: 1px;
}

.HeaderLogo__image--pc {
    display: block;
    height: 20px;
    width: auto;
}

.HeaderLogo__image--pc:hover {
  opacity: 0.5; /* ホバー時に半透明にする */
}

img {
    border: 0;
    vertical-align: middle;
}

body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure, h1, h2, h3, h4, h5, h6, form, select {
    margin: 0;
    padding: 0;
}

.HeaderLogo__image--sp {
    display: none;
    height: 16px;
    width: auto;
}

.HeaderContainer>*:last-child {
    display: inline-flex;
}

nav {
    display: block;
    unicode-bidi: isolate;
}

.HeaderNavHamburger {
    display: none;
}

.HeaderNavList {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

ul, ol {
    list-style: none;
}

@media screen and (min-width: 768px) {
    .HeaderNavListItem {
        transition: opacity 0.2s;
    }
}

.HeaderNavListItem {
    margin-right: 45px;
}

.HeaderNavListItem__link:hover {
    opacity: 0.5;
}

.HeaderNavListItem__link {
    display: block;
}

.HeaderNavListItem__link>span:first-child {
    font-family: "Lato", sans-serif;
    font-size: 12px;
    line-height: 14.4px;
}

.HeaderNavListItem__link>span {
    display: block;
    font-weight: 700;
    text-align: center;
}

.HeaderNavListItem__link>span:last-child {
    font-size: 10px;
}

.HeaderNavListItem:last-of-type {
    margin-right: 0;
}

.HeaderNavListItem__button:hover {
  opacity: 0.5; /* ホバー時に半透明にする */
}

.HeaderNavListItem__button:visited {
    color: #fff;
}

@media screen and (min-width: 768px) {
    .HeaderNavListItem__button {
        transition: opacity 0.2s;
    }
}

.HeaderNavListItem__button {
    align-items: center;
    background-color: #F79214;
    border: none;
    border-radius: 38px;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 700;
    height: 64px;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    width: 100%;
    font-size: 12px;
    height: 40px;
    padding: 0 20px;
}


/* 下のメイン */

main {
    display: block;
}

.FirstView {
    position: relative;
    height: 739px;
}

.FirstView__bg-image--left-rectangle {
    top: -70px;
    left: 0;
}

.FirstView__bg-image {
    position: absolute;
    z-index: -1;
}

.FirstView__bg-image--right-rectangle {
    right: 0;
    bottom: 70px;
}

.FirstView__bg-image--fill-rectangle {
    top: 84px;
    left: -70px;
}
/* メインimg下２番目 */
.FirstView__bg-image--main-visual {
    top: -70px;
    right: 0;
    width: 775px;
}

.FirstView__whole-image {
    display: none;
}

/*  */
.FirstView__container {
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-top: 219px;
}

.FirstViewContent {
    position: relative;
    width: fit-content;
}

.FirstViewContent__title {
    color: #333;
    font-family: "Lato", sans-serif;
    font-size: 42px;
    font-weight: 800;
    line-height: 63px;
    margin-bottom: 16px;
}

.FirstViewContent__badge-image {
    position: absolute;
    top: -105px;
    right: -150px;
}



/* カウンセリングボタン. */
.FirstViewContent__button:visited {
    color: #fff;
}

@media screen and (min-width: 768px) {
    .FirstViewContent__button {
        transition: opacity 0.2s;
    }
}

.FirstViewContent__button:hover {
  opacity: 0.5; /* ホバー時に半透明にする */
}

.FirstViewContent__button {
    align-items: center;
    background-color: #F79214;
    border: none;
    border-radius: 38px;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 700;
    height: 64px;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    width: 100%;
    margin-bottom: 16px;
}

.FirstViewContent__caption {
    font-size: 12px;
    line-height: 16px;
}

p {
    color: #333;
}

p {
    line-height: 1.5;
}

/* 右下16000円 */
.FixedFooter {
    bottom: 0;
    position: fixed;
    right: 4px;
    z-index: 10;
}

.FixedFooter img {
    cursor: pointer;
    display: block;
    max-width: 375px;
}

/* スマホ */

@media screen and (max-width: 1080px) {
    main {
        padding-top: 60px;
    }
}

@media screen and (max-width: 414px) {
    .Header {
        height: 48px;
        padding: 0;
    }
}

@media screen and (max-width: 767px) {
    .Header {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

@media screen and (max-width: 767px) {
    .HeaderContainer {
        max-width: 100%;
        margin: 0 16px;
    }
}

@media screen and (max-width: 767px) {
    .HeaderLogo__image--pc {
        display: none !important;
    }
}

@media screen and (max-width: 767px) {
    .HeaderLogo__image--sp {
        display: block !important;
    }
}

/* 右上なみ線 */

@media screen and (max-width: 414px) {
    .HeaderNavHamburger {
        height: 12px;
        width: 18px;
    }
}

@media screen and (max-width: 1080px) {
    .HeaderNavHamburger {
        cursor: pointer;
        display: block;
        position: relative;
        width: 24px;
        height: 17px;
        margin: auto;
        z-index: 100;
    }
}

@media screen and (max-width: 1080px) {
    .HeaderNavHamburger__line:first-child {
        top: 0;
    }
}

@media screen and (max-width: 1080px) {
    .HeaderNavHamburger__line {
        position: absolute;
        top: 50%;
        display: block;
        width: 100%;
        height: 2px;
        background-color: #A2A2A4;
        transform: translate(0, -50%);
        border-radius: 10px;
        transition: top 0.2s, transform 0.2s, opacity 0.3s;
    }
}

@media screen and (max-width: 1080px) {
    .HeaderNavHamburger__line:last-child {
        top: 100%;
    }
}

@media screen and (max-width: 414px) {
    .HeaderNavList {
        top: 48px;
    }
}

@media screen and (max-width: 767px) {
    .HeaderNavList {
        top: 70px;
    }
}

@media screen and (max-width: 1080px) {
    .HeaderNavList {
        overflow-y: scroll;
        position: fixed;
        top: 60px;
        left: 100%;
        width: 100%;
        display: block;
        padding-top: 20px;
        padding-bottom: 75px;
        transition: transform 0.5s;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.8);
        -webkit-overflow-scrolling: touch;
        height: 100%;
    }
}

@media screen and (max-width: 1080px) {
    .HeaderNavListItem {
        margin-right: 0;
    }
}

@media screen and (max-width: 1080px) {
    .HeaderNavListItem__link {
        padding: 20px 0;
    }
}

@media screen and (max-width: 1080px) {
    .HeaderNavListItem__link>span:first-child {
        font-size: 16px;
        letter-spacing: 5px;
        color: #fff;
    }
}

@media screen and (max-width: 1080px) {
    .HeaderNavListItem__link>span:last-child {
        font-size: 12px;
        margin-top: 10px;
        color: #F79214;
        letter-spacing: 2px;
    }
}

/* heder終わりmain */

@media screen and (max-width: 414px) {
    main {
        padding-top: 48px;
    }
}

@media screen and (max-width: 767px) {
    main {
        padding-top: 52px;
    }
}

@media screen and (max-width: 767px) {
    .FirstView {
        height: fit-content;
    }
}

@media screen and (max-width: 767px) {
    .FirstView__bg-image {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .FirstView__whole-image {
        display: block;
        margin-bottom: 7px;
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .FirstView__container {
        padding-top: 0;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 767px) {
    .FirstView__container {
        max-width: none;
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media screen and (max-width: 1080px) {
    .FirstView__container {
        max-width: none;
        padding-left: 36px;
        padding-right: 36px;
    }
}

@media screen and (max-width: 767px) {
    .FirstViewContent__title {
        font-size: 22px;
        line-height: 36px;
        position: relative;
        width: fit-content;
    }
}

@media screen and (max-width: 767px) {
    .FirstViewContent__button {
        width: 100% !important;
    }
}






/* reset.css */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}
ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
}
ins {
    background-color:#fff;
    color:#000;
    text-decoration:none;
}
mark {
    background-color:#fff;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}
